.App {
  text-align: center;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  font-size: large;
  letter-spacing: 1px;
}
h2 {
  color: black;
  text-shadow: 4px 2px #d087e4;
}
.FormContainer {
  padding: 40px;
  margin-left: 15%;
  margin-right: 15%;
  border: 2px solid black;
  background: linear-gradient(to right, #cbb4d4, #20002c);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

input {
  margin-left: 15%;
  margin-right: 15%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
}
button {
  background-color: #fff;
  padding: 15px;
  font-family: "Fjalla One", sans-serif;
  font-size: large;
  margin: 5px;
}

input.larger {
  width: 30px;
  height: 30px;
  margin-left: 50%;
}

button:hover {
  background-color: #2b003b;
  color: #fff;
}
.field-error {
  margin: 5px;
  padding: 10px;
  color: #fcfcfc;
  text-shadow: 2px 3px #d139fa;
  background-color: rgba(255, 255, 255, 0.4);
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 5px;
  text-align: center;
}
li {
  list-style: none;
}
.RegisteredContent {
  background-color: rgba(255, 255, 255, 0.4);
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 10px;
  padding: 15px;
}
