.App {
  text-align: center;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
  font-size: large;
  letter-spacing: 1px;
}
h2 {
  color: black;
}
.FormContainer {
  padding: 40px;
  margin-left: 15%;
  margin-right: 15%;
  border: 2px solid black;
  background: linear-gradient(to right, #cbb4d4, #20002c);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
input {
  margin-left: 15%;
  margin-right: 15%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
}
button {
  background-color: #fff;
  padding: 15px;
  font-family: "Fjalla One", sans-serif;
  font-size: large;
}
input.checkbox {
  padding: 15px;
}
